<%- include('../partials/header') %> 
<h2 class="main-header">Orders</h2>
<% orders.forEach(order => { %>
  <div class="order-item">
    <p>Order ID - <%= order._id %> / <a href="/auth/orders/<%= order.paymentId %>">Download</a></p>
  </div>
<% }) %>
<%- include('../partials/footer') %> 