<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
    src="https://kit.fontawesome.com/17b916cdd9.js"
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/categories/favicon-16x16.png">
    <link rel="stylesheet" href="/styles/utilities.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Fashion Down</title>
  </head>
  <body>
    <header id="main-nav">
      <div class="navbar container">
        <a href="/" class="alternate-link">
          <i class="fas fa-arrow-down"></i> Fashion Down
        </a>
        <form class="header-form" action="/products/search" method="GET">
          <input name="searchText" type="text" placeholder="Search by category">
          <button>Go!</button>
        </form>
        <ul>
          <div class="nav-list">
            <li class="nav-list-item">
              <a class="nav-link <% if(mens) { %> <%='active-nav-tag'%> <% } %>" href="/categories/mens">Men</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-link<% if(womens) { %> <%='active-nav-tag'%> <% } %>" href="/categories/womens">Women</a>
            </li>
            <li class="nav-list-item">
              <a class="profile-item" href="/auth/user">
                  <i class="fas fa-user"></i>
              </a>
            </li>
            <% if(isAuthenthicated) { %>
              <li class="nav-list-item">
                <a class="profile-item" href="/auth/wishlist">
                  <i class="far fa-heart"></i>
                </a>
              </li>
              <li class="nav-list-item">
                <a class="profile-item" href="/auth/cart">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </li>
              <li class="nav-list-item">
                <a class="profile-item" href="/auth/logout">
                  <i class="fas fa-sign-out-alt"></i>
                </a>
              </li>
            <% } %>
          </div>
        </ul>
      </div>
    </header>
    <div class="container">
      <div>
        <a href="/" class="breadcrumb">home</a>
        <% if(breadcrumbs.length) { %>
          <% breadcrumbs.forEach( bc => { %>
            <span> / </span><a class="breadcrumb" href="/<%= bc.route %>"><%= bc.name %></a>
          <% }) %>
        <% } %>
      </div>