<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
    src="https://kit.fontawesome.com/17b916cdd9.js"
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/categories/favicon-16x16.png"> -->
    <link rel="stylesheet" href="/styles/utilities.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Fashion Down</title>
  </head>
  <body>
    <header id="main-nav">
      <div class="navbar container">
        <a href="/" id="logo">
          <i class="fas fa-arrow-down"></i> Fashion Down
        </a>
        <ul>
          <div class="nav-list">
            <li class="nav-list-item">
              <a class="nav-link <% if(mens) { %> <%='active-nav-tag'%> <% } %>" href="/categories/mens">Men</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-link<% if(womens) { %> <%='active-nav-tag'%> <% } %>" href="/categories/womens">Women</a>
            </li>
          </div>
        </ul>
      </div>
    </header>
    <div class="container">
      <div>
        <a href="/" class="breadcrumb">home</a>
        <% if(breadcrumbs.length) { %>
          <% breadcrumbs.forEach( bc => { %>
            <span> / </span><a class="breadcrumb" href="/<%= bc.route %>"><%= bc.name %></a>
          <% }) %>
        <% } %>
      </div>