<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/stylesheets/navbar.style.css">
</head>
<body>
  <h1>Hello</h1>  
  <p>You reached route <%= route %></p>
  <img src="http://localhost:4000/public/images/categories/womens-jewelry.png" alt="">
  <ul id="topnav">
    <a href="">hello</a>
    <a href="">bye</a>
    <a href="">bye</a>
    <a href="">bye</a>
  </ul>
</body>
</html>