<%-include('./partials/header') %>
<div class="hero">
  <h2>Invalid Request</h2>
  <p>The link you are accessing contains either an invalid product ID or there are simply no more products under this specific subcategory</p>
</div>
<%-include('./partials/footer') %>