<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Welcome to Fashion Down.</h2>
  <p>Our products are always on sale. So buy, buy, buy!</p>
</body>
</html>