/* MAIN-NAV */
.alternate-link { 
  font-size: 2rem;
  font-weight: 600;
  color: var(--light-color)
}

#main-nav {
  background: var(--main-color);
  margin-bottom: 1rem;
}

.navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-color);
  align-items: center;
}

.nav-list { 
  display: flex;
  list-style-type: none;
}

.nav-list-item { 
  padding: 0.5rem;
}

.nav-link { 
  padding: 0.4rem 4rem;
  text-decoration: none;
  color: black;
  display: block;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-right: 0.5rem;
  background: var(--secondary-color);
  transition: all 0.3s;
}

.profile-item { 
  padding-left: 2rem;
  color: var(--light-color);
  font-size: 1.5rem;
}

.profile-item:hover { 
  color: var(--secondary-color);
}

.header-form input,
.header-form button {
  padding: 0.3rem;
  border: none;
  border-radius: 5px;
}

.active-nav-tag { 
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

.nav-link:hover { 
  background-color: var(--tertiary-color);
  color: var(--light-color);
}

.breadcrumb { 
  color: var(--main-color);
}

.breadcrumb:hover {
  color: var(--tertiary-color);
}

/* HOME */
.showcase { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.showcase-item {
  position: relative;
  margin: 0.5rem;
  flex-basis: 30%;
}


.item-img { 
  opacity: 0.5;
  display: block;
  transition: all 0.3s;
  
}

 .item-text { 
  font-size: 2.5rem;
  text-transform: uppercase;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s;
}

.showcase-item:hover .item-text {
  opacity: 1;
 }

 /* CATEGORIES */
 .page-description { 
   margin: 2.5rem 0;
 }

 .category-header { 
   margin-bottom: 2rem;
 }

 .categories-showcase { 
  display: flex;
  flex-direction: column;
 }

 .category-item { 
   display: flex;
   flex-direction: column;
   border-bottom: 2px solid black;
   margin-bottom: 1rem;
 }

 .img-cont { 
   height: 220px;
   overflow: hidden;
   display: flex;
   align-items: center; 
   justify-content: center; 
 }

 .category-item:last-child { 
  border: none;
 }

 .category-item p { 
   margin: 1rem 0;
 }

 .category-item .btn {
   width: 15%;
   margin-bottom: 1rem;
 }

 /* PRODUCT-LIST PAGE */
.products-showcase { 
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex-basis: 47%;
  border: 1px solid black;
  margin: 0.5rem;
  list-style-type: none;
  padding: 1rem;
}

.product-item h3 { 
  margin-bottom: 0.5rem;
}

.item-main-content { 
  display: flex;
  justify-content: space-evenly;
}

.side-content { 
  padding: 0.5rem;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* product-details */
.product-details-item {
  border: 1px solid black;
  display: flex;
  width: 60%;
  margin: 2rem auto;
  justify-content: space-around;
  padding: 0.5rem 0;
  align-items: center;
}

.product-details-item h3 { 
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.product-details-item ul {
  list-style-type: none;
  font-size: 1.1rem;
}

.product-details-item img { 
  height: 250px;
  width: auto;
}

.product-details-side-content { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details-product-info { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.product-details-product-info .btn { 
  margin: 0;
}

.product-details-form { 
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.product-details-form .form-group { 
  margin: 0;
}

.product-details-form .form-group input { 
  display: inline-block;
  background: var(--light-color);
  width: 20%;
}

.product-actions { 
  display: flex;
  flex-direction: column;
}

/* PRODUCTS-SEARCH */
.products-search-item { 
  border: 1px solid black;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
}

.products-search-item .headers,
.products-search-item .values { 
  display: grid;
  grid-template-columns: 15% 3fr 2fr 15% 15%;
  margin: 0.5rem auto;
}

.products-search-item button {
  margin-left: 0;
}

.products-search-item .values img { 
  height: 70px;
}

/* SIGNUP & SIGNIN */
.main-form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group { 
  margin: 1rem 0;
}

.form-group input { 
  display: block;
  width: 100%;
  border: none;
  background: #f4f4f4;
  padding: 0.5rem;
}

.submit-btn { 
  text-align: center;
}

.secondary-paragraph a { 
  color: var(--main-color);
}

.secondary-paragraph a:hover { 
  color: var(--tertiary-color);
}

/* USER PAGE */
.hero .main-paragraph { 
  font-size: 2rem;
}
.main-paragraph a { 
  color: var(--main-color);
}

.main-paragraph a:hover { 
  color: var(--tertiary-color);
}

.user-card { 
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  list-style-type: none;
  padding: 1rem;
  margin: 1rem auto;
}

.user-card li { 
  margin: 1rem 0;
}

.user-accesories { 
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
}

.user-wishlist,
.user-cart,
.user-orders { 
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-accesories a { 
  color: var(--main-color);
  font-size: 3rem;
  transition: color 0.3s;
}

.user-accesories a:hover { 
  color: var(--secondary-color);
}

/* WishList & Cart */
.card-item { 
  border: 1px solid black;
  margin: 1rem 0;
  border-radius: 10px;
}

.card-item .item-info { 
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.card-item .item-info li { 
  flex-basis: 32%;
  text-align: center;
}

.card-item .item-action { 
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.cart-actions { 
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ORDERS */
.order-item { 
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}

/* FOOTER */
#main-footer { 
  margin-top: 1rem;
  padding: 1rem 0;
  text-align: end;
  border-top: 5px solid black;
}

@media (max-width: 1025px) { 

  .alternate-link,
  .header-form {
    margin: 1rem 0;
  }

  .nav-list-item:nth-child(1), 
  .nav-list-item:nth-child(2) { 
    display: none;
  }

  .category-item .btn {
    width: 100%;
  }

  .img-cont { 
    height: 140px;
  }

  .products-showcase { 
    flex-direction: column;
  }

  .product-details-item {
    width: 80%;
  }

  .products-search-item .headers,
  .products-search-item .values { 
    grid-template-columns: 15% 3fr 2fr 23% 23%;
    margin: 0.5rem auto;
  }

  .user-card {
    width: 60%;
  }

  .hero {
    margin: 3rem 1rem;
  }
}

@media screen and (max-width: 770px) {

  .container {
    max-width: 100%;
  }

  .showcase { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .nav-list-item { 
    border-bottom: 1px solid black;
    width: 100%;
  }

  .profile-item {
    padding: 0.5rem;
    display: block;
    text-align: center;
  }

  .nav-list-item:last-child { 
    border-bottom: none;
  }

  .img-cont { 
    height: 100px;
  }

}

@media (max-width: 420px) {


  .img-cont { 
    height: 50px;
  }

  .item-main-content { 
    flex-direction: column;
    align-items: center;
  }

  .item-main-content img { 
    width: 100px;
    height: 100px;
  }

  .product-details-item {
    flex-direction: column;
    padding: 1rem;
  }

  .products-search-item .headers { 
    display: none;
  }

  .products-search-item .values {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products-search-item img {
    width: auto;
  }

}
