*, *::before, *::after { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

:root { 
  --container-width: 80%;
  --main-color: #8CAE68;
  --secondary-color: #DBFF76;
  --tertiary-color: #B6DC76;
  --light-color: #fff;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

a { 
  text-decoration: none;
}

.container { 
  width: var(--container-width);
  margin: 0 auto;
}

.hero { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem;
}

.main-header { 
  text-align: center;
  margin: 1rem;
  color: black;
  position: relative;
}

.secondary-header { 
  font-size: 2rem;
}

.main-paragraph { 
  margin: 1rem 0;
  font-size: 1.2rem;
}

.secondary-paragraph { 
  text-align: center;
}

img { 
  max-width: 600px;
  height: 210px;
}

.btn { 
  border: none; 
  padding: 0.5rem 2rem;
  background-color: var(--tertiary-color);
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn:hover { 
  background-color: var(--secondary-color);
  color: black;
}

.btn-danger {
  background: var(--light-color);
  border: 1px solid red;
  color: red;
  transition: all 0.3s;
}

.btn-danger:hover {
  background: red;
  color: var(--light-color);
}

.pages { 
  margin: 1rem;
  text-align: center;
}

.page { 
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0.5rem;
  color: var(--secondary-color);
}

.page-active { 
  color: black;
  font-size: 1.7rem;
}

.page:hover { 
  color: var(--main-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
